body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    letter-spacing: 1em;
    color: darkgreen;
}

main {
    border: 1px solid #787878;
    padding: 2em;
}

h2 {
    color: green;
}

hr {
    color: #787878;
    background-color: #787878;
}

picture {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    transition: width 1s, height 1s, transform 1s;

}

img:hover {
    transform: rotate(10deg);
}

#hide:hover{
    picture {
        display: none;
    }
}