body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    letter-spacing: 1em;
    color: darkgreen;
}

main {
    border: 1px solid #787878;
}

h2 {
    color: green;
}

hr {
    color: #787878;
    background-color: #787878;
}